.pcba-logo {
  height: 50px;
}

.hero-paragraph {
  font-size: 1.6em;
}

.h1-pcba {
  color: white;
}

.photo-album {
  background-color: #222222;
  text-align: center;
}

.scholarship-page {
  text-align: center;
}

.scholarship-form {
  margin-top: 2%;
}
