.pcba-logo {
  height: 50px;
}

.hero-paragraph {
  font-size: 1.6em;
  letter-spacing: 0.01em;
  font-weight: 400;
}

.h1-pcba {
  color: white;
}

.photo-album, .calendar {
  background-color: #222222;
  text-align: center;
}

.calendar {
  height: 850px;
}

.calendar-iframe {
  margin-top: 25px;
}

.scholarship-page {
  text-align: center;
}

.scholarship-form {
  margin-top: 2%;
  padding-left: 25%;
}

#top-bar.alt {
  display: none;
}

.contributions-image {
  width: 100%;
}

.details-pic {
  height: 450px;
}

.details-headers {
  color: #a94d4d;
}
